@font-face {font-family: 'normal';src: url(normal.ttf); }
body{font-family: 'normal';}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image:linear-gradient(#fe8c00,#f83600);
  height:100%;
 overflow: hidden;
}

h1 {
  color:#f83600;
  font-family:Impact,Charcoal, sans-serif;
  font-size:15vw;
  text-align:center;
  text-shadow:1px -1px white, 2px -2px #686767, 3px -3px #838182, 4px -4px #686767, 5px -5px #686767;
  
    animation: color-change 3s infinite;
}

@keyframes color-change{
  0%{
    background-image: linear-gradient(225deg,#FA5539,#FBEC02,#FB020E);
  }
  15%{
    color: #FBEC02;
  }
  30%{
    color: #25FC02;
  }
  45%{
    color: #02FCFF;
  }
  60%{
    color: #3A51FD;
  }
  53%{
    background-image: linear-gradient(15deg,#FBEC02,#FA5539,#FB020E);
  }
   70%{
    color: #6C2AB7;
  }
  80%{
    color: #F302FC;
  }
  90%{
    color: #FB020E;
  }
  100%{
    color: #f83600;
  }
}
.light {
  animation:top-right 5s ease-in-out alternate infinite;
  border-bottom:none;
  border-left:solid 20vh transparent;
  border-right:solid 20vh transparent;
  border-top:solid 210vh rgba(255, 255, 255, .5);
  bottom:0;
  height:0;
  left:0;
  position:absolute;
  transform-origin:bottom;
  width:0;
}

.light + .light {
  animation:top-left 4s ease-in-out alternate infinite;
  left:auto;
  right:0;
}

@keyframes top-right {
  0% {
    transform:rotate(-10deg);
  }
  100% {
    transform:rotate(70deg);
  }
}

@keyframes top-left {
  0% {
    transform:rotate(10deg);
  }
  100% {
    transform:rotate(-70deg);
  }
}

.wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 70vh;
background-image: linear-gradient(#f83600,#fe8c00);
}
.card{
position: relative;
background: #fff;
width: 300px;
height: 400px;
margin: 0 auto;
}

.card .content{
width: 300px;
padding: 30px;
box-sizing: border-box;
font-weight: bold;
}


.card .sliderText{
position: relative;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background: #000;
}
.card .sliderText h3{
color: #fff;
font-size: 2em;
}
.swiper-container {
      width: 300px;
      height: 400px;
          }
.swiper-slide{
background-position: center;
      background-size: cover;
width: 300px;
}

.swiper-slide:nth-child(1) .sliderText{
background: #2196f3;
animation: color-change2 8s infinite;
}
.swiper-slide:nth-child(1) .content p{
color: #2196f3;
}
@keyframes color-change2{
  0%{
    background-image: linear-gradient(#227EFB,#227EFB) ;
  }
  25%{
    background-image: linear-gradient(#0C71FB,#0C71FB) ;
  }
  50%{
    background-image: linear-gradient(#0C5BFC,#0C5BFC) ;
  }
  75%{
    background-image: linear-gradient(#0C71FB,#0C71FB) ;
  }
  100%{
    background-image: linear-gradient(#2196f3,#2196f3) ;
  }
}
.swiper-slide:nth-child(2) .sliderText{
background: #e91e63
}
.swiper-slide:nth-child(2) .content p{
color: #e91e63
}
.sampurna{
    background-image: linear-gradient(#fe8c00,#f83600);
    color: #fff000;
}
.container{
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.countdown{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    }

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
border: 3px solid #fe8c00;
border-radius: 50px;
color: #fff;
margin: 0 9px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -37px;
left: 0;
width: 100%;
height: 25px;
border: 2px solid #e100ff;
background-color: white;
border-radius: 50px;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
animation-name: moveInBottom;
   animation-duration: 15s;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
      opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.countdown div:after{
    content: '';
position: absolute;
top: -3px;
left: -3px;
width: 100%;
height: 100%;
border: 5px solid transparent;
border-top: 3px solid #4285F4;
border-right: 5px solid #DB4437;
border-left: 4px solid #F4B400;
border-bottom: 6px dotted #0F9D58;
border-radius: 50%;
animation: animateCircle 2s linear infinite;
}
@keyframes animateCircle{
0%{transform: rotate(360deg);
}
100%{transform: rotate(0deg);
}
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
.swar{color: #FF3000;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    animation-name: moveInleft;
    animation-duration: 20s ;
}
@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }

    80% {
        transform: translateX(10px);
    }
    100% {
      color: red;
        opacity: 1;
        transform: translate(0);
    }
}
.subh{
    text-align: center;
    margin-bottom: 10px;
    animation-name: moveInRight;
    animation-duration: 22s;
    color: #974000;
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }

    80% {
      color: white;
        transform: translateX(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }

}
.map{
    margin-bottom: 10px;
}
.anim{
  animation: color-change1 8s infinite;
}
@keyframes color-change1{
 0%{
    color: #E8D500;
  }
  25%{
    color: #D4B400;
  }
  50%{
    color: #C46F00;
  }
  60%{
    color: #974000;
  } 
  70%{
    color: #C46F00;
  }
  85%{
    color: #D4B400;
  }
  100%{
    color: #E8D500;
  }
}
.proja{
    text-align: center;
    margin-bottom: 20px;
}
#fontcss{
    margin-left: 10px;
    margin-bottom: 20px;
}
.bih{
    text-align: justify;
    text-indent: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.danc{
    position: relative;
    width: 100%;
    height: 100%; 
       display: flex;
    align-items: right;
    justify-content: center;
}
.danc {
    max-width: 399px;
    padding-top: 1%;  
}
.danc img{
  width: 100%;
}
.nibe{   
         
    text-align: right;
    margin-right: 10px;
        color: #fff000;
    }

footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  

  footer .call{
      width: 130px;
      height: 30px;
      border-radius: 45px;            
      }
      
